extends layout

block content

	nav
		ul(id="menu_secondaire")
			li: a(href="/update") Modifier vos informations personnelles.
			li: a(href="/updatePassword") Modifier votre mot de passe.
			li: a(href="/services/add") Ajouter un service (une offre ou une demande).
			li: a(href="/transactions/add") Enregistrer une nouvelle transaction.
			
	h2 Bonjour #{user.username} 
	p Votre adresse email est #{user.email} et votre numéro de téléphone est #{user.phone}.
	p Ces informations ne sont communiquées qu'aux membres de Lambersel, elles servent à vous contacter si un utilisateur est intéressé par l'une de vos offres ou demandes.

	h2 Vous disposez de #{user.credit} pétales
	
	p Si vous avez bénéficié d'un service de la part d'un autre membre de Lambersel, vous devez 
		a(href="/transactions/add") enregistrer une nouvelle transaction.
		
		table
			caption Détail de vos transactions
			thead
				tr
					th Date
					th Montant
					th Service
					th Utilisateur
			tbody
			- each transaction in user.transactions
				if transaction.from_user_id == user_id
					tr
						td #{transaction.creation_date}
						td - #{transaction.cost}
						td
							a(href="/services/"+transaction.service_id) Voir le service concerné.
						td #{transaction.to_user_id}
				else
					tr
						td #{transaction.creation_date}
						td + #{transaction.cost}
						td
							a(href="/services/"+transaction.service_id) Voir le service concerné.
						td #{transaction.from_user_id}
						
	h2 Vos offres et demandes
	
	p Vos offres et demandes sont visible par tous les membres de Lambersel. Vous pouvez 
		a(href="/services/add") ajouter un service (une offre ou une demande).
		ul
		- each service in user.services
			div.offre
				h3 
					if service.type == 'request'
						b [demande] &nbsp;
					else
						b [offre] &nbsp;
					span #{service.title} (
					a(href="/services/"+service.id+"/update") modification
					span )
				div.description #{service.description}
				div.footer 
					a(href="/services/"+service.id+"/delete") Supprimer le service
				
		ul