extends layout

block content
	if news
		- for (var i = 0; i < news.length; i++) {
			h2 #{news[i].title}
			p #{news[i].content}
		- }
		
	if services
		h2 Les dernières offres
		table
			thead
				tr
					th Date de publication
					th Intitulé
					th Description
			tbody
			- each service in services
				if service.type == 'offer'
					tr
						td #{service.creation_date}
						td #{service.title}
						td #{service.description}
					
		h2 Les dernières demandes
		table
			thead
				tr
					th Date de publication
					th Intitulé
					th Description
			tbody
			- each service in services
				if service.type == 'request'
					tr
						td #{service.creation_date}
						td #{service.title}
						td #{service.description}
					