extends layout

block content
	if news
		- for (var i = 0; i < news.length; i++) {
			h2 #{news[i].title}
			p #{news[i].content}
		- }
		
	if services
		h2 Les dernières offres
		
		- each service in services
			if service.type == 'offer'
				div.offre
					div.titre #{service.title}
					div.description #{service.description}
					div.footer
						span.auteur
						span.date #{service.creation_date}
						
		h2 Les dernières demandes
		
		- each service in services
			if service.type == 'request'
				div.offre
					div.titre #{service.title}
					div.description #{service.description}
					div.footer
						span.auteur
						span.date #{service.creation_date}
					