extends ../layout

block content

	a(href='/administration') Retour
	
	h2 Liste des nouvelles
	if news
		table
			thead
				tr
					th Identifiant
					th Titre
					th Date de créatin
			tbody
			- each nouvelle in news
				tr
					td #{nouvelle.id}
					td #{nouvelle.title}
					td #{nouvelle.creation_date}
					td
						a(href='/news/'+ #{nouvelle.id}) Détail
					td
						a(href='/news/'+ #{nouvelle.id}+'/delete') Supprimer
			tbody