extends ../layout

block content

	a(href='/catalogue') Revenir au catalogue
	
	h2 #{service.title}
	p #{service.description}
	
	h3 Contact
	div
		ul
			li Pseudo : #{user.username}
			li Email : #{user.email}
			li Numéro de téléphone : #{user.phone}