extends ../layout

block content
	
	h2 Liste des services
	a(href="/services/add") Ajouter un service
	if services
		p
			table
				thead
					tr
						th Identifiant
						th Titre
						th Type
						th Date de création
						th Date de modification
						th Action
						
				tbody
				- each service in services
					tr
						td #{service.id}
						td 
							a(href='/services/'+service.id) #{service.title}
						td #{service.type}
						td #{service.creation_date}
						td #{service.update_date}
						td
							a(href='/services/'+ service.id + '/update') Modifier
							a(href='/services/'+ service.id + '/delete') Supprimer
				tbody